html {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
}
body {
  background: #1dd1a1;
  flex: 0 1 auto;
}

.nav-icon {
  margin: auto;
  width: 80px;
  height: 50px;
  
  position: relative;
  cursor: pointer;
  background: rgba(255, 255, 255, 0);
  
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
}

.nav-icon div {
  width: 100%;
  height: 8px;
  border-radius: 2px;
  background: #fff;
  -webkit-box-shadow: 0px 0px 7px 1px rgba(0,0,0,0.3);
  -moz-box-shadow: 0px 0px 7px 1px rgba(0,0,0,0.3);
  box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.3);

  transform-origin: 40px 4px 0;
}

@keyframes shrink-fadeout {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(0);
  }
}
@keyframes shrink-fadeout-rev {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes collapse-top {
  0% {
    transform: translate3d(0, 0, 0) rotate(0deg);
  }
  50% {
    transform: translate3d(0, 21px, 0) rotate(0deg);
  }
  100% {
    transform: translate3d(0, 21px, 0) rotate(45deg);
  }
}
@keyframes collapse-top-rev {
  0% {
    transform: translate3d(0, 21px, 0) rotate(45deg);
  }
  50% {
    transform: translate3d(0, 21px, 0) rotate(0deg);
  }
  100% {
    transform: translate3d(0, 0, 0) rotate(0deg);
  }
}

@keyframes collapse-bottom {
  0% {
    transform: translate3d(0, 0, 0) rotate(0deg);
  }
  50% {
    transform: translate3d(0, -21px, 0) rotate(0deg);
  }
  100% {
    transform: translate3d(0, -21px, 0) rotate(135deg);
  }
}

@keyframes collapse-bottom-rev {
  0% {
    transform: translate3d(0, -21px, 0) rotate(135deg);
  }
  50% {
    transform: translate3d(0, -21px, 0) rotate(0deg);
  }
  100% {
    transform: translate3d(0, 0, 0) rotate(0deg);
  }
}

.nav-icon {
  div:nth-child(1) {
    animation: collapse-top-rev .8s ease-in-out forwards;
  }
  div:nth-child(2) {
    animation: shrink-fadeout-rev .8s ease-in-out forwards;
  }
  div:nth-child(3) {
    animation: collapse-bottom-rev .8s ease-in-out forwards;
  }
  
  &.active {
    div:nth-child(1) {
      animation: collapse-top .8s ease-in-out forwards;
    }
    div:nth-child(2) {
      animation: shrink-fadeout .8s ease-in-out forwards;
    }
    div:nth-child(3) {
      animation: collapse-bottom .8s ease-in-out forwards;
    }
  }
  
  .no-animation {
    -webkit-animation: none !important;
    animation: none !important; 
  }
}