@import url(https://fonts.googleapis.com/css?family=Open+Sans:700,300);

html {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
}
body {
  flex: 0 1 auto;
  font-family: 'Open Sans', sans-serif;
  color: white;
  background: #00c6ff;
  background: -webkit-linear-gradient(to right, #0072ff, #00c6ff);
  background: linear-gradient(to right, #0072ff, #00c6ff);
}

.wrapper {
  padding: 0;
  width: 207px;
  height: 207px;
  position: relative;
  margin: auto;
  text-align: center;
  background: rgba(255, 255, 255, 0);
}

.one div:nth-child(1), .one div:nth-child(2), .circle {
  -webkit-box-shadow: 0px 0px 7px 1px rgba(0,0,0,0.15);
  -moz-box-shadow: 0px 0px 7px 1px rgba(0,0,0,0.15);
  box-shadow: 0px 0px 7px 1px rgba(0,0,0,0.15);
}

.one div:nth-child(1), .one div:nth-child(2) {
  position: absolute;
  border-radius: 2px;
  background: #fff;
}
.one div:nth-child(1) {
  left: 0;
  width: 24px;
  height: 110px;
}
.one div:nth-child(2) {
  top: -9px;
  left: -13px;
  width: 20px;
  height: 45px;
  border-top-left-radius: 20px;
  z-index: -1;
  transform: rotate(55deg);
}

.circle {
  position: absolute;
  left: 25px;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  border: 25px solid #ffffff;
  background: Transparent;
}

.circle:first-child {
  left: 12px;
}
.circle:last-child {
  left: 97px;
  z-index: -1;
}

#days {
  font-size: 82px;
  font-weight: bold;
  width: 100%;
  height: 50%;
  position: absolute;
  top: 5px;
  left: -6px;
}
#css-challenge {
  font-size: 26px;
  font-weight: bold;
  width: 100%;
  height: 50%;
  position: absolute;
  top: 150px;
  left: -2px;
}